@model MVCDemo3.Models.guestResponse

@{
    ViewBag.Title = "rsvpForm";
}

<div class="panel panel-success">
    <div class="panel panel-heading text-center"> <h4> RSVP </h4> </div>
    <div class="panel-body ">

        @using (Html.BeginForm())
        {
            <br /> <br />
            @Html.ValidationSummary()
            <div class="form-group">
                <label> Your name: </label>
                @Html.TextBoxFor(x => x.name, new { @class="form-control" } )
            </div>
            <div class="form-group">
                <label> Your email: </label>
                @Html.TextBoxFor(x => x.email, new { @class="form-control" } )
            </div>
            <div class="form-group">
                <label> Your Phone Number: </label>
                @Html.TextBoxFor(x => x.phoneNo, new { @class="form-control" } )
           </div>
           <div class="form-group">
                <label> Will you attend? </label>
                    @Html.DropDownListFor(x => x.willAttend,
                           new[]
                           {
                                new SelectListItem() {
                                    Text = "Yes, I'll be attending.",
                                    Value = bool.TrueString
                                },

                                 new SelectListItem() {
                                        Text = "No, I'll not be attending.",
                                        Value = bool.FalseString
                                 } },

                                 "Choose an option.", new { @class="form-control" } ) 

            </div>
            <div class="text-center">
                <input class="btn btn-success" type="submit" value="Submit RSVP" />
            </div>

        } @* end of the form *@

    </div>
</div>


  




